html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*            ПЕРВЫЙ БЛОК            */

.wrapper{
	max-width: 1920px;
	width: 100%;
	margin: 0 auto;
}

.center{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.container1{
	width: 100%;
	max-width: 1920px;
	height: 100vh;
	max-height: 1025px;
	background: url(./img/slide1.png);
	background-repeat: no-repeat; /* не дает двоиться бэкграунду*/
	background-size: cover; /* центрирует бэкграунд*/
}

.container1 .center header{
	padding-top: 38px;
}

.container1 .center header .block_logo{
	display: inline-block;
}

.container1 .center header .block_logo p{
	display: inline;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 34px;
	color: #f3f3f3;
	position: relative;
	top: -15px;
}

.container1 .center header .header_navbar{
	display: inline-block;
	width: 70%;
	margin-left: 10%;
	position: relative; 
	top: -20px;
}

.container1 .center header .header_navbar ul{
	display: flex;
	justify-content: space-between;
}

.container1 .center header .header_navbar ul li{
	display: inline;
}

.container1 .center header .header_navbar ul li:nth-child(9){
	margin-left: 30px;
}

.container1 .center header .header_navbar ul li svg{
	color: #fff;
	font-size: 24px;
	position: relative;
	top: -5px;
}

.container1 .center header .header_navbar ul li a{
	text-decoration: none;
	color: #b1b2b3;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400px;
}

.container1 .center header .header_navbar ul li a:hover{
	color: #c7b299;
}

/*      ВТОРОЙ БЛОК      */


.container2{
	width: 100%;
	max-width: 1920px;
	height: 100vh;
	max-height: 372px;
	background: #fff;
}

.container2 .flex_container{
	display: flex;
	justify-content: space-around;
	padding-top: 80px;
	max-width: 100%;
	}

.item1, .item2, .item3, .item4{
	max-width: 300px;
	width: 100%;
	}

.item1 svg, .item2 svg, .item3 svg, .item4 svg{
	font-size: 40px;
	color: #555555;
	position: relative;
	text-align: center;
}

.item1 svg:hover, .item2 svg:hover, .item3 svg:hover, .item4 svg:hover{
	color: #c7b299;
}

.item1 p, .item2 p, .item3 p, .item4 p{
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
	color: #555555;
	top: 35px;
}

/***************************/

